<script setup lang="ts">
import { RouterLink } from 'vue-router'
import { getAuth, signOut, GoogleAuthProvider } from 'firebase/auth'

const auth = getAuth()
const handleSignOutWithGoogle = async () => {
  signOut(auth)
    .then(() => {
      // Sign-out successful.
    })
    .catch((error) => {
      // An error happened.
    })
}
</script>
<template>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <RouterLink to="/" class="brand-link">
      <img
        src="../../src/assets/img/kino/kmk1x5t9.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
      />
      <span class="brand-text font-weight-light">full name</span>
    </RouterLink>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img
            src="../../src/assets/img/user2-160x160.jpg"
            class="img-circle elevation-2"
            alt="User Image"
          />
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div>
      </div> -->

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input
            class="form-control form-control-sidebar"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
          <li class="nav-item">
            <RouterLink to="/dashboard" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>Dashboard</p>
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink to="scale-up-dan-validasi" class="nav-link">
              <i class="nav-icon fas fa-folder"></i>
              <!-- <i class="fa-solid fa-square-arrow-up-right"></i> -->
              <p>Scale Up dan Validasi</p>
            </RouterLink>
          </li>
          <li class="nav-item">
            <RouterLink to="/dokumen-berjalan" class="nav-link">
              <i class="nav-icon fas fa-user-shield"></i>
              <p>Security</p>
            </RouterLink>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" @click="handleSignOutWithGoogle">
              <i class="nav-icon fas fa-power-off"></i>
              <p>Sign Out</p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>
</template>
