<script setup lang="ts">
import { RouterLink } from 'vue-router'
import { router } from '../router/index'
import { getAuth, GoogleAuthProvider, signInWithPopup, onAuthStateChanged } from 'firebase/auth'
import { getDatabase, ref, set } from 'firebase/database'

const auth = getAuth()
const provider = new GoogleAuthProvider()

// Fungsi untuk menangani sign-in menggunakan Google
const handleSignInWithGoogle = async () => {
  try {
    const result = await signInWithPopup(auth, provider)

    // Tindakan setelah berhasil sign-in
    const credential = GoogleAuthProvider.credentialFromResult(result)
    const token = credential.accessToken
    const user = result.user

    // Periksa data pengguna sebelum menyimpan ke database
    const userData = {
      email: user.email,
      emailVerified: user.emailVerified,
      displayName: user.displayName,
      photoUrl: user.photoURL,
      localId: user.uid,
      groups: {
        visitor: true,
        qa: false,
        analis: false,
        spv: false,
        inspector: false
      }
    }

    const db = getDatabase()
    await set(ref(db, 'users/' + user.uid), userData)
  } catch (error) {
    console.log("error")

  }
}

onAuthStateChanged(auth, (user) => {
  if (user) {
    router.push('/')
  }
})
</script>

<template>
  <div class="hold-transition login-page">
    <div class="login-box">
      <div class="card card-outline card-primary">
        <div class="card-header text-center">
          <RouterLink to="/" class="h1"><b>Kino</b>QA</RouterLink>
        </div>
        <div class="card-body">
          <p class="login-box-msg">Sign in to start your session</p>
          <div class="social-auth-links text-center mt-2 mb-3">
            <!-- Tambahkan @click untuk menangani peristiwa klik -->
            <a href="#" class="btn btn-block btn-danger" @click="handleSignInWithGoogle">
              <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
