<script setup lang="ts">
import { RouterLink } from 'vue-router'
import RightNavBarComponent from '../../src/components/RightNavBarComponent.vue'
import SideBarComponent from '../../src/components/SideBarComponent.vue'
import FooterComponent from '../../src/components/FooterComponent.vue'
import ControlSideBarComponent from '../../src/components/ControlSideBarComponent.vue'
import NavItem from '../../src/components/items/NavItem.vue'
import ContentScaleUpComponent from '../../src/components/ContentScaleUpComponent.vue'
</script>
<template>
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <NavItem />
    </ul>

    <RightNavBarComponent />
  </nav>
  <SideBarComponent />
  <ContentScaleUpComponent />
  <FooterComponent />

  <ControlSideBarComponent />
</template>
